div {
    box-sizing: border-box;
}

.ribbon {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 50px;
    top: 15px;
    margin: auto;
}

.ribbon:after,
.ribbon:before {
    margin-top: 0.5em;
    content: "";
    display: flex;

    border: 1.5em solid #d18dc2;
}

.ribbon:after {
    border-right-color: transparent;
}

.ribbon:before {
    border-left-color: transparent;
}

.ribbon a:link,
.ribbon a:visited {
    color: #000;
    text-decoration: none;

    height: 3.5em;
    overflow: hidden;
}

.ribbon span {
    background: #d18dc2;
    display: inline-block;

    line-height: 3em;
    padding: 0 1.5em;
    margin-top: 0.5em;
    position: relative;
    -webkit-transition: background-color 0.2s, margin-top 0.2s;
    /* Saf3.2+, Chrome */
    -moz-transition: background-color 0.2s, margin-top 0.2s;
    /* FF4+ */
    -ms-transition: background-color 0.2s, margin-top 0.2s;
    /* IE10 */
    -o-transition: background-color 0.2s, margin-top 0.2s;
    /* Opera 10.5+ */
    transition: background-color 0.2s, margin-top 0.2s;
}

.ribbon a:hover span {
    background: #FFD204;
    margin-top: 0;
}

.ribbon span:before {
    content: "";
    position: absolute;
    top: 3em;
    left: 0;
    border-right: 0.5em solid #9B8651;
    border-bottom: 0.5em solid #fff;
}

.ribbon span:after {
    content: "";
    position: absolute;
    top: 3em;
    right: 0;
    border-left: 0.5em solid #9B8651;
    border-bottom: 0.5em solid #fff;
}

/*正文*/

.jianli {
    margin-top: 150px;
    margin-bottom: 20px;
    margin-left: 50px;
    justify-content: left;
    display: flex;
    height: 100px;
    color: hsl(120, 100%, 1%);
    font-size: 20px;

}


.first span {
    margin-bottom: 10px;
    color: hsl(120, 100%, 1%);
    font-size: 20px;


}






.edu span {
    flex: 1;
}

.edu span:nth-child(2) {
    margin-left: 330px;
}





.title {
    margin-left: 10px;
    font-size: 20px;
    color: #ef7f57;
    list-style: none;
}

.other {
    margin-left: 40px;
    font-size: 20px;
    color: hsl(120, 100%, 1%);
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}